<div class="row ta-c debug">
  <% if logged_in? %>
  <h3>welcome, <%= current_user.username %></h3>
  <a href='/sessions/delete'>log out</a>
<% else %>
  <h3><a href='/'>log in</a>
<% end %>
</div>


<div class="row mt-std ta-c debug">
  <h3>jabr with:</h3>
  <% @users.each do |user| %>
    <% if user != current_user %>
      <p><a href="/users/<%= user.id%>"><%= user.username %></a></p>
    <% end %>
  <% end %>

</div>