<div class="row ta-c debug">
  <a href="/jabrs">other jabrs</a><br>
  <a href="/sessions/delete">log out</a>
  <h3 class="mt-lg">jabr-time!</h3>
</div>

<div id="history" class="row ta-c debug">
  <% @messages.each do |message| %>
    <p><%= message.user.username %> jabr'd <%= message.body %></p>
  <%end%>
</div>

<div class="row ta-c debug">
  <form id="chat-form" action="/jabrs/<%=@jabr.id %>/messages" method="post">

    <input id="chat-input" class="ta-c" type="text" name="message" placeholder="send a jabr"><br>
    <input type="submit" value="Submit!">
  </form>
</div>