<% if !logged_in? %>
<div class="row ta-c debug">
  <h2>You must log in to view this page!</h2>
  <a href='/'>home</a>
</div>


<% elsif @jabr.sender_id == current_user.id || @jabr.recipient_id == current_user.id %>

<div class="row ta-c debug">
  <a href="/jabrs">other jabrs</a><br>
  <a href="/sessions/delete">log out</a>
  <h3 class="mt-lg">jabr-time!</h3>
</div>

<div id="history" class="row ta-c debug">
  <% @messages.each do |message| %>
    <p><%= message.user.username %> jabr'd <%= message.body %></p>
  <%end%>
</div>

<div class="row ta-c debug">
  <form id="chat-form" action="/jabrs/<%=@jabr.id %>/messages" method="post">
    <input id="jabr-channel" name="jabr-channel" type="hidden" value="jabr-<%= @jabr.id %>">
    <input id="chat-input" class="ta-c" type="text" name="message" placeholder="send a jabr"><br>
    <input type="submit" value="Submit!">
  </form>
</div>


<% else %>

<div class="row ta-c debug">
  <h2>You do not have permission to view this page!</h2>
  <a href='/jabrs'>other jabrs</a>
</div>

<% end %>